
body{
    margin: 0;
    background-color:rgba(246, 246, 248, 0.978);
    font-family:cosmic sans ms, sans-serif;
}
header{
    background-color: #2196F3; 
    padding: 200px;
    text-align: center;
    color: white;
    height: 100vh;
}
h1{
   color: #2196F3;
    font-size: 50px;
    margin: 0;
}
header h1{
    color: white;
    font-size: 75px;
    margin: 0;
}

.but{
    background-color: #f0f0f0;
    border: none;
   height: 60px;
    width: 140px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    color: black;
    margin-top: 60px;
    margin-left: 40px;
  }
  .but:hover{
    background-color:darkblue;
    color: white;
}
section{
    background-image: url(image.png);
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
    height: 100vh;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;}
input{
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    
}
.submit{
    background-color: #2196F3;
    border: none;
   height: 60px;
    width: 140px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    margin-top: 60px;
    margin-left: 40px;
    }
    .submit:hover{
    background-color: darkblue;
    color: white;
}
img{
    width: 20%;
    height: 35%;
    border-radius: 20px;
}



footer{
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
    bottom: 0;
}